@charset "utf-8";
/* CSS Document */

.top_txt5a4f3f {
	font-size: 11px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
}
.top_txt60412F {
	font-size: 11px;
	color: #60412F;
	text-decoration: none;
	line-height: 20px;
}


a.top_txt5a4f3f_a:link, a.top_txt5a4f3f_a:visited ,a.top_txt5a4f3f_a:active {
	font-size: 11px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
}
a.top_txt5a4f3f_a:hover {
	font-size: 11px;
	color: #5a4f3f;
	text-decoration: underline;
	line-height: 20px;
}
.top_txtc9bc9c {
	font-size: 11px;
	color: #c9bc9c;
	text-decoration: none;
	line-height: 20px;
}

a.txtB_5a4f3f:link, a.txtB_5a4f3f:visited, a.txtB_5a4f3f:active {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
a.txtB_5a4f3f:hover {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: underline;
	line-height: 20px;
	font-weight: bold;
}
a.news_txt5a4f3f_a:link, a.news_txt5a4f3f_a:visited ,a.news_txt5a4f3f_a:active {
	font-size: 12px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
	list-style-type: circle;
	list-style-position: outside;
}
a.news_txt5a4f3f_a:hover {
	font-size: 12px;
	color: #5a4f3f;
	text-decoration: underline;
	line-height: 20px;
}
news_txt5a4f3f {
	font-size: 12px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
	list-style-type: circle;
	list-style-position: outside;
}

a.item_txt_a:link, a.item_txt_a:visited ,a.item_txt_a:active {
	font-size: 12px;
	color: #5a4f3f;
	text-decoration: none;
}
a.item_txt_a:hover {
	font-size: 12px;
	color: #5a4f3f;
	text-decoration: underline;
}

a.spot_txt_a:link, a.spot_txt_a:visited ,a.spot_txt_a:active {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
a.spot_txt_a:hover {
	font-size: 12px;
	color: #FFF;
	text-decoration: underline;
}
.titleB {
	font-size: 15px;
	font-weight: bold;
	color: #e2e2e2;
	text-decoration: none;
	padding-bottom: 5px;
}
.title_white {
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

.txt13_313131 {
	font-size: 13px;
	line-height: 20px;
	color: #313131;
	letter-spacing: 0.1em;
}
.root_red {
	font-size: 11px;
	color: #F00;
	text-decoration: none;
}
.title_5a4f3f {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}

a.title_5a4f3f_a:link, a.title_5a4f3f_a:visited ,a.title_5a4f3f_a:active {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
a.title_5a4f3f_a:hover {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: underline;
	line-height: 20px;
	font-weight: bold;
}
.pages_txt4c4c4c {
	font-size: 11px;
	color: #4c4c4c;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	background-image: url(../images/btn_bg001.png);
	background-repeat: no-repeat;
	background-position: center center;
}

a.pages_4c4c4c_a:link, a.pages_4c4c4c_a:visited ,a.pages_4c4c4c_a:active {
	font-size: 11px;
	color: #4c4c4c;
	text-decoration: none;
	line-height: 11px;
}
a.pages_4c4c4c_a:hover {
	font-size: 11px;
	color: #4c4c4c;
	text-decoration: underline;
	line-height: 11px;
}
.bg_pages {
	width: 30px;
	}
	
.bg_pages a {
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 30px;
	text-decoration: none;
	text-align: center;
	width: 30px;
	vertical-align: middle;
	}	
	
.bg_pages a:link, .bg_pages a:visited , .bg_pages a:active{
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	padding-top: 5px;
	background-image: url(images/btn_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	vertical-align: middle;
	}
	
.bg_pages a:hover {
	margin-top: 0px;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	display: block;
	background-image: url(images/btn_bg.png);
	background-repeat: no-repeat;
	background-position: -20px center;
	}

a.btn_bg:link, a.btn_bg:visited, a.btn_bg:active {
	height: 25px;
	width: 100px;
	background-color: #4D4234;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
a.btn_bg:hover {
	height: 25px;
	width: 100px;
	background-color: #4D4234;
	font-size: 11px;
	color: #FCAA0B;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.member_name {
	font-size: 13px;
	font-weight: bold;
	color: #ff6600;
	text-decoration: none;
}
a.item_name:link, a.item_name:visited, a.item_name:active {
	font-size: 13px;
	line-height: 20px;
	color: #A51212;
	text-decoration: none;
}
a.item_name:hover {
	font-size: 13px;
	line-height: 20px;
	color: #A51212;
	text-decoration: underline;
}
.price_redB {
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	color: #F00;
	text-decoration: none;
}
.item_title {
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #ff6600;
}
a.spot_title:link, a.spot_title:visited, a.spot_title:active {
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #ff6600;
}
a.spot_title:hover {
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #4D4234;
}
.submenu{ 
display: none; 

}
a.list_5a4f3f_a:link, a.list_5a4f3f_a:visited ,a.list_5a4f3f_a:active {
	font-size: 13px;
	color: #333;
	text-decoration: none;
	line-height: 20px;
}
a.list_5a4f3f_a:hover {
	font-size: 13px;
	color: #5a4f3f;
	text-decoration: none;
	line-height: 20px;
}
a.list_60412F:link, a.list_60412F:visited ,a.list_60412F:active {
	font-size: 13px;
	color: #60412F;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}
a.list_60412F:hover {
	font-size: 13px;
	color: #60412F;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
}.list_e5bd00 {
	font-size: 13px;
	font-weight: bold;
	color: #ffb11f;
	text-decoration: none;
}
